@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Kumar+One&display=swap');

* {
    color: white;
}

a,
button {
    all: unset;
    text-decoration: underline;
    color: lightcoral;
    cursor: pointer;
}

html::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.08;
    z-index: 1000;
    pointer-events: none;
    background: url(noise.gif);
}

body {
    background-color: black;

    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 16vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    width: 810px;
}

.grid-container * {
    padding: 0;
    margin: 0;
}

.img-container {
    width: 100%;
    grid-column: 1;
}

.grid-container .about-container {
    grid-column: 2;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

h1 {
    font-family: 'Kumar One';
    font-size: 32px;
}

h2,
p,
date {
    font-family: 'Courier New';
    font-size: 16px;
}

h2 {
    color: lightcoral;
}

p {
    margin-bottom: 10px;
}

date {
    color: lightgray;
}

.projects-container {
    grid-column: span 2;
}

.articles-container {
    grid-column: span 2;
}

.article {
    margin-bottom: 20px;
}

.article .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.article .header h2 {
    position: relative;
}

.article .header h2::after {
    content: "↗";
    font-family: fantasy;
    position: absolute;
    right: -16px;
}

.article p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}