@font-face {
    font-family: "DoHyeon-Modified";
    src: url("./MyFont.ttf");
}

@font-face {
    font-family: "SF-Pro-Rounded-Regular";
    src: url("./SF-Pro-Rounded-Regular.otf");
}

@font-face {
    font-family: "SF-Pro-Rounded-Light";
    src: url("./SF-Pro-Rounded-Light.otf");
}

* {
    color: white;
}

a,
button,
li,
ul,
span {
    all: unset;
}

a,
button {
    text-decoration: underline;
    color: lightgray;
    cursor: pointer;
}

html::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.12;
    z-index: 1000;
    pointer-events: none;
    background: url(animated_noise.gif);
}

body {
    background-color: black;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.greetings-container {
    display: flex;
    flex-direction: column;
    align-self: center;

    gap: 20px;

    max-width: 1080px;
}

.greeting {
    font-family: Dohyeon-Modified;
    font-size: 166px;

    margin: 0;
    color: gray;

    user-select: none;
}

.greeting-lang {
    font-family: Dohyeon-Modified;
    font-size: 88px;
    color: gray;
}

.big-message {
    font-family: "SF-Pro-Rounded-Regular";
    font-size: 36px;

    margin: 0;
}

.email {
    color: coral;
}

.small-message {
    font-family: "SF-Pro-Rounded-Light";
    font-size: 18px;
    color: gray;

    margin: 0;
}

.greetings-list {
    height: 350px;
    overflow: hidden;
    filter: blur(5px);
}

.greetings-list h1 {
    animation: greetings-move 16s infinite;
    animation-timing-function: linear;
    color: lightgray;
}

@keyframes greetings-move {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-390%);
    }
}

.links-container {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.links-container div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.links-container div a {
    font-family: "SF-Pro-Rounded-Light";
    pointer-events: auto;
    letter-spacing: 0.75px;

    transition: letter-spacing 0.35s ease;
}

.links-container div a:hover {
    letter-spacing: 1.25px;
}

.coral {
    color: lightgray;
}
