@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Kumar+One&display=swap");

* {
    color: white;
}

a,
button {
    all: unset;
    text-decoration: underline;
    color: lightcoral;
    cursor: pointer;
}

html::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.08;
    z-index: 1000;
    pointer-events: none;
    background: url(animated_noise.gif);
}

body {
    background-color: black;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    width: 810px;
}

.grid-container * {
    padding: 0;
    margin: 0;
}

.img-container {
    width: 100%;
    grid-column: 1;
}

.grid-container .about-container {
    grid-column: 2;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

h1 {
    font-family: "Kumar One";
    font-size: 32px;
}

h2,
p,
date {
    font-family: "Courier New";
    font-size: 16px;
}

h2 {
    color: lightcoral;
}

.about-container p {
    margin-bottom: 10px;
}

.about-container p:last-child {
    margin-bottom: 0;
}

date {
    color: lightgray;
}

date a {
    color: inherit;
}

.projects-container {
    grid-column: span 2;
}

.articles-container {
    grid-column: span 2;
}

.article,
.project {
    margin-bottom: 20px;
}

.article:last-child,
.project:last-child {
    margin-bottom: 0;
}

.article .header,
.project .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.article p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.links-background {
    position: sticky;
    top: 0;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

.links-container {
    display: flex;
    justify-content: flex-start;
    min-width: 0;
    width: max-content;
    max-width: max-content;
    gap: 20ch;
    white-space: nowrap;
    animation: scroll-links-170 25s linear infinite;
}

@keyframes scroll-links-170 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-170ch);
    }
}

@keyframes scroll-links-130 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-130ch);
    }
}

.links-container .link:first-child {
    margin-left: 14ch;
}

.links-container .link:last-child {
    margin-right: 0;
}

.link {
    color: black;
    cursor: pointer;
    font-family: "Courier New";
    font-weight: bold;
    text-decoration: underline;
    padding-top: 4px;
    padding-bottom: 4px;
}

.link button,
.link a {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
}

@media screen and (max-width: 1024px) {
    .grid-container {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .projects-container {
        grid-column: 1;
    }

    .articles-container {
        grid-column: 1;
    }

    .container {
        margin-top: 20px;
    }

    .links-container {
        gap: 10ch;
        animation: scroll-links-130 25s linear infinite;
    }

    .links-container .link:first-child {
        margin-left: 6ch;
    }
}

@media screen and (max-width: 680px) {
    .article .header,
    .project .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6px;
        margin-bottom: 10px;
    }

    .article p {
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }
}
